.customButton {
    margin-bottom: 30px;
}

.customButtonDiv {
    text-align: center;
}

.form-signin {
    padding-bottom: 15px;
    margin-bottom: -15px;
}

.divPadding {
    margin-bottom: 50px;
}